<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
<!--  后处理Bean  -->

	<bean id="someBean" class="ioc15.SomeBean">
		<property name="str" value="abCdeF"></property>
	</bean>
	
	
	<bean class="ioc15.SomeBeanPropertyPostProcessor"></bean>
	
</beans>